{% extends "base.html" %}

{% load static %}

{% block title %}Skins page{% endblock %}

{% block content %}

    <div class="container-sm mt-4">

        <div class="row g-0 align-items-end">
            
            <div class="col text-center px-3">
              <h1 class="mb-0" style="font-size: 2.3em">
                  <a translate="no"  class="text-nowrap">{{skin.name}}</a> <small class="text-muted text-nowrap">Minecraft Skin</small>
              </h1>
            </div>
            
          </div>

          <hr class="mt-2">

          <div class="row mt-4">
            <div class="col-md-6 col-lg-7">
              <div class="card mb-3">
                <div class="card-body checkered animation-paused position-relative text-center p-0">
                  <canvas id="canvas" class="skin-3d drop-shadow auto-size align-top mx-auto" width="330" height="440" style="cursor:move;width:300px" data-id="d2434428eb6a0774" data-model="slim" data-theta="75" data-phi="22"></canvas>
                    <!-- <div class="position-absolute top-0 start-0 m-1 text-muted">
                      <h5>#8</h5>
                    </div> -->
                  <div class="position-absolute top-0 end-0 m-1">
                    <div>
                      <button style="width:36px;height:36px;" id="play-pause-btn" class="btn btn-secondary p-0 m-1" title="Play" data-play-title="Play" data-pause-title="Pause" onclick="playAnimation()"><i class="fas fa-play"></i></button>
                    </div>
                    <form action="" target="_blank" id="capture-form">
                      <button style="width:36px;height:36px;" id="render-button" class="btn btn-secondary p-0 m-1" title="Capture" onclick="capture()"><i class="fas fa-camera"></i></button>
                    </form>

                      <a style="width:36px;height:36px" href="{{skin.image.url}}" id="download-skin" class="btn btn-secondary m-1 d-flex justify-content-center align-items-center" download="{{skin.name}}.png" title="Download"><i class="fa-solid fa-download"></i></a>
                    <form method="POST">
                      <div class="d-inline-block rounded bg-body-tertiary m-1">
                        <button style="width: 36px; height: 36px" title="Like" class="btn btn-outline-danger p-0" type="submit" name="task" value="like">
                          <i class="fas fa-heart"></i>
                        </button>
                      </div>
                    </form>
                    <form method="POST">
                    </form>
                  </div>
                  <h5 class="position-absolute bottom-0 end-0 m-1 text-muted">{{skin.likes}}<i style="vertical-align:middle;margin-left:0.1rem;font-size:67%" class="fas fa-heart"></i></h5>
                    <h5 class="position-absolute bottom-0 start-0  m-1 text-muted title-time">{{skin.created_at | timesince}}</h5>
                </div>
              </div>
                  <div class="ad-container mobile-mpu-container bg-body-tertiary d-flex d-md-none my-3">
                    <div id="nn_mobile_mpu1"></div>
                  </div>
                <div class="card mb-3" style="max-height: 15rem">
                  <div class="card-header py-1"><strong>Profiles (116)</strong></div>
                  <div class="card-body player-list py-2">
                     <a translate="no" href="/profile/Itsrealme___.1" class="">Itsrealme___</a> 
                      <a translate="no" href="/profile/JustM9owed.1" class="">JustM9owed</a> 
                      
                  </div>
                </div>
                <div class="ad-container mpu-container d-none d-md-flex mb-3">
                  <div id="nn_mpu1" data-google-query-id="CJW89dORsIQDFUUTVQgdGsMKDA" style="display: none;"><div id="google_ads_iframe_6928793,31292685/NameMC-6093bb9a4a141/NameMC-MPU1-6093bc4309518_0__container__" style="border: 0pt none; width: 250px; height: 0px;"></div></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="card mb-3">
                <div class="card-header py-1">
                  <strong>Tags</strong>
                    <a class="float-end" href="/login?redirect=%2Fskin%2Fd2434428eb6a0774">Add / Vote (1)</a>
                </div>
                  <div class="card-body text-center py-2 text-muted">(None)</div>
              </div>
                <div class="card mb-3">
                  <div class="row g-0 p-1">
                    {% for skin in six_random_skins %}
                      <div class="col-6 col-sm-4 col-md-2 col-md-4 p-1">
                        <a href="{% url 'skins:detail' skin.id %}">
                          <div class="card">
                            <div class="card-body position-relative text-center checkered p-1">
                              <div>
                                <img class="drop-shadow mx-auto" loading="lazy" width="80" height="160" id="skin{{skin.id}}" style="display:none" src="" alt="{{skin.name}}">
                              </div>
                              <small class="position-absolute bottom-0 end-0 text-muted mx-1">{{skin.likes}}<i style="vertical-align:middle;margin-left:0.1rem;font-size:67%" class="fas fa-heart"></i></small>
                              <small class="position-absolute bottom-0 start-0  text-muted mx-1">{{skin.created_at | timesince}}</small>
                            </div>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
          </div>










          

    </div>




    <script src="{% static 'js/skinview3d.bundle.js' %}"></script>
    <script>
      const element = document.getElementById("canvas");
      console.log(element);
  
      const skinViewer = new skinview3d.SkinViewer({
            canvas: element,
            width: 330,
            height: 440,
            skin:"{{skin.image.url}}",
            enableControls: true,
        }); 
        skinViewer.animation = new skinview3d.WalkingAnimation();
        skinViewer.animation.paused = false;
        skinViewer.animation.progress = 3;
        skinViewer.animation.headBobbing = false;
            
        skinViewer.camera.rotation.x = -0.5034319968693;
        skinViewer.camera.rotation.y = -0.36908259614;
        skinViewer.camera.rotation.z = -0.196140179771;
        skinViewer.camera.position.x = -14.993128783689523;
        skinViewer.camera.position.y = 18.699720219168;
        skinViewer.camera.position.z = 33.952134734071;
        skinViewer.controls.enableZoom = false;
       

        //run 2s after the page loads
        setTimeout(() => {
          skinViewer.animation.paused = true;
        }, 10);
        

        function playAnimation() {
          skinViewer.animation.paused = !skinViewer.animation.paused;
          const btn = document.getElementById("play-pause-btn");
          if (skinViewer.animation.paused) {
            btn.innerHTML = '<i class="fas fa-play"></i>';
            btn.title = "Play";
          } else {
            btn.innerHTML = '<i class="fas fa-pause"></i>';
            btn.title = "Pause";
          }
        }

        
        function downloadBase64Image(base64String, filename) {
          // Розбиваємо base64-рядок на дві частини: тип медіа та дані
          const parts = base64String.split(';base64,');
          const mimeType = parts[0].split(':')[1];
          const imageData = atob(parts[1]);
          const bytes = new Uint8Array(imageData.length);
        
            for (let i = 0; i < imageData.length; i++) {
                bytes[i] = imageData.charCodeAt(i);
            }
        
            const blob = new Blob([bytes], { type: mimeType });
      
          if (window.navigator && window.navigator.msSaveOrOpenBlob) {
              // Для Internet Explorer
              window.navigator.msSaveOrOpenBlob(blob, filename);
          } else {
              // Створюємо посилання для завантаження файлу
              const link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = filename;
      
              // Додаємо посилання у DOM, клікаємо на нього та видаляємо
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
          }
      }


        function capture() {
          const img = skinViewer.canvas.toDataURL("image/png");
          console.log(img);
          downloadBase64Image(img, "skin.png");
        }


  </script>

  <script>
    const configurations = [
       {% for skin in six_random_skins %}
         {
           skin: "{{ skin.image.url }}",
           cape: null,
           id: "{{ skin.id }}",
         },
       {% endfor %}
    ];

    (async function () {
        const skinViewer = new skinview3d.SkinViewer({
            width: 200,
            height: 300,
            renderPaused: false,
        });

        skinViewer.animation = new skinview3d.WalkingAnimation();
        skinViewer.animation.paused = false;
        skinViewer.animation.progress = 3;
        skinViewer.animation.headBobbing = false;
            
        skinViewer.camera.rotation.x = -0.5034319968693;
        skinViewer.camera.rotation.y = -0.36908259614;
        skinViewer.camera.rotation.z = -0.196140179771;
        skinViewer.camera.position.x = -14.993128783689523;
        skinViewer.camera.position.y = 18.699720219168;
        skinViewer.camera.position.z = 33.952134734071;
        skinViewer.controls.enableZoom = false;
       

        //run 2s after the page loads
        setTimeout(() => {
          skinViewer.animation.paused = true;
        }, 1);
        skinViewer.zoom = 0.9;

        for (const config of configurations) {
            await Promise.all([
                skinViewer.loadSkin(config.skin),
                skinViewer.loadCape(config.cape, { backEquipment: config.backEquipment })
            ]);
            skinViewer.render();
            const image = skinViewer.canvas.toDataURL();

            img = document.getElementById("skin" + config.id);
            img.src = image;
            img.style.display = "block";
            
        }


    })();
</script>


{% endblock %}
