{% extends "base.html" %}

{% load static %}

{% block title %}Skins page{% endblock %}

{% block content %}

  <h1 class="text-3xl text-center font-bold mt-3">
    Skins
</h1>
  <!-- <a href="{% url 'skins:create' %}" class="btn btn-outline-primary">Add skin</a> -->
  <!-- <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSkin">Add skin</a> -->
  <div class="row mt-3 justify-content-center gy-5">
    {% for skin in skins %}
    <div class="col-4 col-md-2">
      <a href="{% url 'skins:detail' skin.id %}">
        <div class="card">
          <div class="card-header text-center p-2 text-white">
            <p class="p-0 m-0">{{ skin.name }}</p>
          </div> 
          <div class="checkered">
            <img id="skin{{ skin.id }}" src="" class="card-img-top">
          </div>
        </div>
      </a>
  </div>
  {% endfor %}

  </div>
 
 




<!-- Modal -->
<div class="modal fade" id="addSkin" tabindex="-1" aria-labelledby="addSkinLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSkinLabel">Add Skin</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">❌</button>
      </div>
      <div class="modal-body">
        <form action="{% url 'skins:create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>

      </div>
    </div>
  </div>
</div>


  <!-- <canvas id="canvas" width="200" height="200"></canvas>
  <button id="showdata">Show data</button> -->
  <script src="{% static 'js/skinview3d.bundle.js' %}"></script>
  <script>
    const configurations = [
       {% for skin in skins %}
         {
           skin: "{{ skin.image.url }}",
           cape: null,
           id: "{{ skin.id }}",
         },
       {% endfor %}
    ];
     //const element = document.getElementById("canvas");

    //const skinViewer1 = new skinview3d.SkinViewer({
    //  canvas: element,
     //   width: 200,
//height: 200,
    //    skin: configurations[1].skin,
    //    enableControls: true,
//}); 
    //document.getElementById("showdata").addEventListener("click", () => {
    //  console.log(skinViewer1);
    //});

    (async function () {
        const skinViewer = new skinview3d.SkinViewer({
            width: 200,
            height: 300,
            renderPaused: false,
        });

        skinViewer.animation = new skinview3d.WalkingAnimation();
        skinViewer.animation.paused = false;
        skinViewer.animation.progress = 3;
        skinViewer.animation.headBobbing = false;
            
        skinViewer.camera.rotation.x = -0.5034319968693;
        skinViewer.camera.rotation.y = -0.36908259614;
        skinViewer.camera.rotation.z = -0.196140179771;
        skinViewer.camera.position.x = -14.993128783689523;
        skinViewer.camera.position.y = 18.699720219168;
        skinViewer.camera.position.z = 33.952134734071;
        skinViewer.controls.enableZoom = false;
       

        //run 2s after the page loads
        setTimeout(() => {
          skinViewer.animation.paused = true;
        }, 10);
        skinViewer.zoom = 0.9;

        for (const config of configurations) {
            await Promise.all([
                skinViewer.loadSkin(config.skin),
                skinViewer.loadCape(config.cape, { backEquipment: config.backEquipment })
            ]);
            skinViewer.render();
            const image = skinViewer.canvas.toDataURL();

            document.getElementById("skin" + config.id).src = image;
        }


    })();
</script>
{% endblock %}
