{% extends "base.html" %}

{% load static %}


{% block title %}Main page{% endblock %}

{% block content %}
<div class="mt-4 p-4 bg-body-tertiary rounded-lg">
  <h1 class="text-3xl text-center font-bold">
    Main page
  </h1>
  <p class="text-center">Welcome to the main page of the site</p>
</div>
<div class="mt-4 p-4 bg-body-tertiary rounded-lg">
  <h2 class="text-2xl font-bold">Features</h2>
  <p>Here are some of the features of the site:</p>
  <ul>
    <li>Registration and authorization</li>
    <li>Profile editing</li>
    <li>Creating and editing posts</li>
    <li>Comments</li>
  </ul>
</div>

<div class="mt-4 p-4 bg-body-tertiary rounded-lg">
  <h2 class="text-2xl font-bold">Qustions</h2>
  <form action="{% url 'main:question' %}" method="post">
    {% csrf_token %}
    {{ contact_form.as_p }}
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

{% endblock %}
